<%- include("../reusable/beginning", {
    title: "Receiver"
}) -%>

<div style="display: grid; grid-template-columns: auto auto;">
    <video id="socket-cam" autoplay style="border: 1px solid black;"></video>
    <video id="socket-cam-patient" autoplay style=" border: 1px solid black;"></video>
</div>

<button id="answer">Answer</button>

<textarea readonly rows="5" cols="15" id="sdp-offer"></textarea>

<script defer src="/socket.io/socket.io.js"></script>
<script defer src="/js/receiver.js"></script>
</body>
<%- include("../reusable/end") -%>